@media only screen and (min-width: 32.5em) and (max-width: 59em) {

    #flex-box {
        display: flex;
        flex-direction: column;
    }

    body {
        font-size: 1.0rem;
    }
    #mainnav #topnav {
        display: block;
    }
    #mainnav ul.hide {
        display: none;
    }
    .navigation{
        -webkit-box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
        -moz-box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
        box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
    }
    #mainnav ul {
        flex-flow: column;
        justify-content: flex-end;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    #mainnav #topnav {
        top:20px;
        float: left;
    }

    .mainnav {
        display: flex;
        background: #AFB9c8;
        color: white;
    }
    body {
        background-color: #F8F8F8;
        font-family: 'Lato', sans-serif;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 0;
        max-width: 75%;
    }

    h1 {
        text-align: center;
    }

    #flex-box {
        display: flex;
        flex-direction: column;
    }

    #headitem {
        margin-top: 20px;
        margin-left: 0px;
        right: 0px;
        width: 100%;
        min-height: 100px;
        background-color: #AFB9c8;
    }

    #templepic {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        top: -70px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }


    #icon {
        max-height: 1.5em;
    }

    #hero {
        display: block;
        float: right;
    }

    #mtemple {
        background-color: white;
        padding: 1px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 15px;
    }

    footer {
        min-height: 50px;
        background-color: #47525e;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }

    #two {
        visibility: visible;
        max-height: 400px;
        line-height: 1em;
        display: flex;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .column {
        visibility: visible;
        max-height: 400px;
        flex: 50%;
        margin: 0 auto;
        float: right;
    }

    .row {
        flex: 50%;
    }

    #rflex-box {
        padding: 0;
        margin-left: 25px;
    }

    .rcolumn {
        visibility: visible;
        margin: 0 auto;
        float: left;
    }

    .rrow {
        flex: 100%;
        text-align: left;
        padding: 5px;
        margin-right: 5px;
    }

    #state {
        margin-right: 15px;
    }

    #longtermone {
        max-width: 75%;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #longtermtwo {
        max-width: 75%;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #reception {
        max-width: 75%;
        display: block;
        max-height: 600px;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
    }

    #reservationinfo {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    #fbicon, #twicon, #piicon {
        max-height: 20px;
        padding: 5px;
    }


    #map {
        max-width: 75%;
    }
    #memphistemple, #stlouis, #kc, #batonrouge{
        display: block;
        max-height: 600px;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 75%;
    }
    #txt {
        width: 15rem;
        height: auto;
    }
    .card {
        box-shadow: 2px 4px 10px 4px lightgray;
    }

    h4 {
        text-align: center;
        font-size: 1.5rem;
    }
    #mtemple {
        visibility: visible;

    }
    #home {
        visibility: hidden;
        max-height: 0;
        max-width:0;
    }
    #icolumn {
        visibility: hidden;
        max-height: 0;
        max-width:0;

    }
    .herobutton{
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #oneroom, #tworoom {
        box-shadow: 2px 4px 10px 4px lightgray;
    }
    .topnav {
        background-color: #333;
        overflow: hidden;
    }

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    }

    .topnav .icon {
        display: none;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}