@media only screen and (min-width: 60em) {
    nav li a {
        font-size: 1rem;
    }

    body {
        min-height: 300px;
    }

    main img {
        filter: blur(0em);
        transition: filter 0.5s;
        height: 300px;
        width: 400px;
    }

    main img[data-src] {
        filter: blur(.2em);
        height: 300px;
        width: 400px;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
    }
    figure:hover {
        box-shadow: 0 0 15px #334;
    }
}