
    nav a {
        font-size: .75rem;
    }
    body {
        width: 100%;
    }
    main {
        margin: 0 auto;
        width: 95%;
        padding: 5px;
        line-height: 1.5em;
        display: flex;
        flex-flow: column;
        background-color: lightgray;
    }
    .card {
        background-color: grey;
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: .3rem;
        box-shadow: 0 0 5px 0;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }
    .card section {
        background-color: darkgrey;
        border: 1px solid black;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card section img {
        width: 150px;
        height: auto;
        max-width: 100%;
        margin-top: 10px;
        box-shadow: 0 0 15px;
        text-align: right; order: 1;
    }

    .article {
        border-color: black;

    }
    .contactinfo{
        text-align: center;
        justify-content: center;
        background-color: lightgray;
        visibility: hidden;
    }

    .contactinfo img {
        height: 30px;
        width: 30PX;
    }
    #Preston {
    max-width: 95%;
    }

}