@media only screen and (min-width: 32.5em) {
    header {
        background-color: #7c7ab0;
        width: 100%;
        justify-content: center;
        text-align: center;
        box-shadow: 5px 10px;
    }

    #logo {
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }

    h1 {
        justify-content: center;
        text-align: center;
        margin: 0;

    }

    h3 {
        text-align: center;
        justify-content: center;
        margin: 0 0 5px 0;
    }



    .herodiv {
        margin: 10px 0 0 0;
    }

    main {
        text-align: center;
        display: flex;
        flex-flow: column;
    }

    h2 {
        text-align: center;
        margin: 0 0 0 0;
    }

    body {
        font-size: 24px;
        font-family: "PT Sans", sans-serif;
    }

    footer {
        text-align: center;

        color: white;
        text-shadow: 2px 2px 2px #106910;
        background-color: #7c7ab0;

        width: 100%;
    }

    a {
        color: black;
        padding: 15px;
    }

    .contactinfo {
        visibility: visible;
        text-align: right;
        width: 50%;
    }
    #viber {
        max-height: 64px;
    }
    .card {
        background-color: grey;
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: .3rem;

        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
    }

    .card section {
        background-color: darkgrey;
        border: 1px solid black;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .card section img {

        max-width: 100%;
        margin-top: 10px;
        box-shadow: 0 0 15px;
        float: right;
    }
    .herodiv image {
    position: relative;
    }
    .article {

        padding: 5px;
        border-radius: 15px;
        box-shadow: 0 5px 20px 0 darkgrey;
        box-sizing: border-box;
    }
    .forecast-col{
        align-content: center;
    }
    table {
        margin: 0 auto;
        border: 1px solid black;
        border-collapse: collapse;
        box-shadow: 0 5px 20px 0 darkgrey;

    }
    table th {
        border: 1px solid black;
        padding: 5px;
    }
    table td {
        border: 1px solid black;
        padding: 5px;
    }
    .summary {
        top: 13rem;
        left: 5rem;
    }
    .forecast-row {
        visibility: visible;}
    #mainstorm {
        text-align: left;
    }
    #weathergrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding: .3rem;

        margin: 0 auto;
    }
    #one {
        visibility:visible;
        max-height: 400px;
        line-height: 1em;
    }
    #two {
        visibility:visible;
        max-height: 400px;
        line-height: 1em;
        display: flex;
    }
    #column {
        visibility: visible;
        max-height: 400px;
        flex: 50%;
        margin: 0 auto;
        float:left;
        }
    #row {
        flex: 50%;
        float: right;
    }
    #map1{
        max-height:95%;
    }

}