@media only screen and (min-width: 37.5em) {
    nav a {
        font-size: .75rem;
    }

    body {
        min-height: 250px;
        font-size: 16px;
        width: fit-content;
    }

    main {
        margin: 0 auto;
        width: 95%;
        padding: 5px;
        line-height: 1.5em;
        background-color: lightgray;

}