#sales {
    background-color: #FFFFFF;

    border-width: 3px;
    border-color: #e7ffed;
    border-style: solid;
}
#sales th, tfoot{
    justify-content: center;
    background-color: #628ca6;
}
#sales thead tr td, tfoot tr td {
    justify-content: center;
    background-color: #7fb9c2;
    height: auto;
}
#sales thead tr td{
    color: white;
    }
#sales tbody>tr>td:nth-child(12) {
    font-style: italic;
    background-color: purple;
}