@media only screen and (min-width: 32.5em) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5px;
    }
}
@media only screen and (min-width: 60em) {
    .cards {
        grid-template-columns: repeat(4,1fr);
        row-gap: 10px;
     }
    .cards p {
        text-align: center;
    }
}
* {
    box-sizing: border-box;
}

header, body, footer{
    margin: 0 auto;
    padding: 0px;
}
body {
    font-family: Ubuntu, sans-serif; font-size: 16px;
    line-height: 1.0;
    box-sizing: border-box;
    }
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;

}
h1 {
    margin: 5px; font-family: Arial;
    font-size: 2rem;
    color: darkblue;
    text-align: center;
}
h2 {
    color: #3F3FBF;
    font-size: 1.4rem;
    margin-bottom: 5px;
    text-align: center;
}
.cards {
    background-color: grey;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: .3rem;
    box-shadow: 0 0 5px 0;
    margin: 0 auto;
}
section {
    background-color: darkgrey;
    border: 1px solid black;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section img {
    width: 150px;
    height: auto;
    max-width: 100%;
    margin-top: 10px;
    box-shadow: 0 0 15px;
}
.cards div {
    padding: 0 auto;
}